*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 715px;
    border-bottom: 15px solid rgb(35,160,35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 60px;
    animation: pipe-animation 1.5s infinite linear;
}

.panda {
    width: 80px;
    position: absolute;
    bottom: 0;
    background: none;
    transform: scaleX(-1);
    margin: 0;
    padding: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds {
    position: absolute;
    width: 380px;
    animation: clouds-animation 10s infinite linear;
}

@keyframes pipe-animation {
    from {
        right: 0;
    }
    to {
        right: 100%;
    }
}

@keyframes jump {

    0% {
        bottom: 0;
    }

    40%{
        bottom: 180px;
    }

    50%{
        bottom: 180px;
    }

    60%{
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to{
        right: 100%;
    }
}

.wallpaper {
    background-repeat:inherit;
    background-size: cover;
}

.menu {
    display: flex;
    justify-content: center;
    margin-top: 300px;
    justify-content: space-evenly;
}

.jogar {
    font-family: 'Gloria Hallelujah', cursive;
    color: #E0F6FF;
    font-size: larger;
    background: none;
    border: none;

}

.cred {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: larger;
    color: #E0F6FF;
    background: none;
    border: none;
}

.credits {
    color: #3e4244;
    justify-content: center;
    margin-top: 300px;
    margin-left: 650px;
    font-family: 'Gloria Hallelujah', cursive;
}

.game-over {
    margin-top: 100px;
}